<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.yunzai.milibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MilibraryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiliBrary.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.MiliBrary.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.ResendEmailActivity" />
        <activity
            android:name=".activities.BookDetailActivity"
            android:theme="@style/Theme.MiliBrary" />
        <activity
            android:name=".activities.ReviewEditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.ReviewListActivity" />
        <activity android:name=".activities.BookmarkDetailActivity" />
        <activity
            android:name=".activities.BookListActivity"
            android:theme="@style/Theme.MiliBrary" />
        <activity
            android:name=".activities.MyReviewListActivity"
            android:theme="@style/Theme.MiliBrary" />
    </application>

</manifest>
